/* contact */
.contact {
  text-align: center;

  @media screen and (max-width: 767px) {
    max-width: 370px;
    margin: 0 auto;
  }
  &__title {
    font-size: 18px;
    color: $colorDarkMain;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 35px 0;
  }
}
.contact-form {
  font-size: 0;
  height: 60px;
  box-sizing: border-box;
  padding: 3px 0;
  border: 2px solid $colorText;

  @media screen and (max-width: 767px) {
    margin: 0 15px;
  }

  &__email,
  &__btn {
    height: 100%;
    font-family: inherit;
    font-size: 16px;
    font-weight: 300;
    border-radius: 0;
    border: 1px solid transparent;
    background-color: transparent;
    outline: none;

    &:focus,
    &:hover {
      border-top-color: $colorText;
      border-bottom-color: $colorText;
    }
  }
  &__email {
    width: 75%;
    padding: 0 0 0 30px;
    letter-spacing: 2px;
    color: $colorText;
  }
  &__btn {
    width: 25%;
    color: transparent;
    cursor: pointer;
    border-left: 2px solid $colorText;
    position: relative;

    &::before {
      content: "\2192";
      position: absolute;
      top: 0;
      left: 50%;
      font-size: 36px;
      color: $colorText;
      transform: translate(-50%, -20%);
    }
  }
}
